body {
	background-color: #fff;
	margin: 0;
	padding: 0;
}

.section {
	box-sizing: border-box;
	display: inline-block;
	width: 50%;
	height: 200px;
	background-color: #88c1d0;
	border: 2px solid black;
}

@media (max-width: 767px) {
	.section {
		width: 100%;
		margin-bottom: 10px;
	}
}

@media (min-width: 768px) and (max-width: 1599px) {
	.section {
		width: 50%;
		height: 200px;
		float: left;
		box-sizing: border-box;
	}
	
	.section:nth-child(odd) {
		clear: left;
	}
}


@media (min-width: 1600px) {
	.section {
		width: 25%;
		float: left;
	}
	
	.section:nth-child(4n+1) {
		clear: both;
	}
}
